= render 'admin/import',
    resource_class: Article,
    resource_attributes: [:supplier_id, :supplier_name, :order_number, :name, :description, :manufacturer, :origin, :url, :article_category_id, :article_category_name, :price_unit, :price_unit_quantity, :price_price, :price_deposit, :price_tax]
